.one-show-container {
  display: flex;
  justify-content: space-around;
  text-align: center;
  max-height: 100vh;
  max-width: 100vw;
  padding: 10px;
}

.one-show-img {
  padding-top: 10px;
  padding-bottom: 10px;
  height: 300px;
  width: 250px;
}
.one-show-description {
  width: 50vw;
  text-align: center;
  padding-bottom: 20px;
}

.green {
  color: green;
}

.yellow {
  color: yellow;
}

.red {
  color: red;
}

.one-show-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 20vh;
  justify-content: space-around;
}

.genre {
  padding-left: 4px;
  padding-right: 4px;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.go-back-link {
  position: absolute;
  top: 5;
  left: 0;
}

.go-back-img {
  width: 40px;
}

@media only screen and (max-width: 460px) {
  .one-show-container {
    flex-direction: column;
    height: 100vh;
    justify-content: flex-start;
    align-items: center;
  }
  .one-show-description {
    width: 93vw;
  }
}
